<h1>Creación de Paquetes</h1>

<form action="{{ path('destinos_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('destinos') }}">
            Volver a paquetes
        </a>
    </li>
</ul>
