{% extends 'T42DestinosBundle::layout.html.twig' %}

{% block content %}

<h1>Crear nuevo Paquete de viaje</h1>

<form action="{{ path('t42_destinos_paquete_create') }}" method="post" {{ form_enctype(form) }} >
    {{ form_widget(form) }}

        <p>
            <button class="btn btn-info" type="submit">Crear</button>
        </p>
</form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('t42_destinos_paquete_index') }}">
                Volver a paquetes
            </a>
        </li>
    </ul>

{% endblock %}