{% extends "T42BackendBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li><a href="">Panel</a></li>
{% endblock %}

{% block content %}
	<div class="row-fluid">
        <div class="span12">
            <h2>Panel Principal</h2>
        </div>
    </div>
{% endblock %}