{% extends 'T42TestimoniosBundle::layout.html.twig' %}

{% block content %}

<h1>Crear nuevo Testimonio</h1>

<form action="{{ path('t42_testimonios_backend_create') }}" method="post" {{ form_enctype(form) }} >
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-info" type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('t42_testimonios_backend_index') }}">
            Volver a Testimonios
        </a>
    </li>
</ul>

{% endblock %}