{% extends 'T42BackendBundle::layout.html.twig' %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="span3">
            {% block sidebar %}
            <div class="sidebar well">
                <ul class="nav nav-list">
                    <li class="nav-header">Prueba</li>
                    <li class="active"><a href="#"><i class="icon-chevron-right"></i> Prueba 1</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Prueba 2</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Prueba 3</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
        <div class="span9">{% block content %}{% endblock %}</div>
    </div>
</div>
{% endblock %}