{% extends "T42BackendBundle::layout.html.twig" %}

{% block content %}
	<div class="row-fluid">
        <div class="span3">
            <div class="sidebar well">
                <ul class="nav nav-list">
                    <li class="nav-header">Prueba</li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Prueba</a></li>
                </ul>
            </div>
        </div>  
        <div class="span9">
            Hola Mundo!
        </div>
    </div>
{% endblock %}