<ul class="nav">
    {% if is_granted('ROLE_PAQUETES_VIEW') %}
        <li><a href="{{ path("t42_destinos_backend_index") }}">Paquetes</a></li>
    {% endif %}
    {% if is_granted('ROLE_TESTIMONIOS_VIEW') %}
        <li><a href="{{ path("t42_testimonios_backend_index") }}">Testimonios</a></li>
    {% endif %}
    {% if is_granted('ROLE_USUARIOS_VIEW') %}
        <li><a href="{{ path("fos_user_profile_list") }}">Usuarios</a></li>
    {% endif %}
</ul>