<ul class="nav">
    <li><a href="{{ path("t42_destinos_paquete_index") }}">Paquetes</a></li>
    <li><a href="{{ path("t42_testimonios_backend_index") }}">Testimonios</a></li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path("fos_user_profile_list") }}">Usuarios</a></li>
    {% endif %}
</ul>