<ul class="nav">
	<li class="active"><a href="{{ path("t42_backend_index") }}"><i class="icon-home icon-white"></i></a></li>
    <li><a href="{{ path("t42_article_backend_index") }}">Artículos</a></li>
</ul>