<h1>Grupo</h1>

<table class="table">
    <tbody>
        <tr>
            <th>{{ 'group.show.name'|trans([], 'FOSUserBundle') }}</th>
            <td>{{ group.getName() }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                {% for role in group.getRoles() %}
                    {{role}}
                {% endfor %}
            </td>
        </tr>        
    </tbody>
</table>