{% extends 'T42UserBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset3">
        <form action="{{ path('t42_user_invitation_send') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <legend> Enviar Invitaci&oacute;n </legend>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Enviar</button>                
                <a class="btn " href="{{ path('fos_user_profile_list') }}" >Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}